<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="form.controls.title">
        <mat-error>{{ getErrorMessagesForTitle() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Release Date</mat-label>
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <input matInput [matDatepicker]="picker" [formControl]="form.controls.releaseDate">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Trailer (YouTube URL)</mat-label>
        <input matInput [formControl]="form.controls.trailer">
    </mat-form-field>

    <app-input-img title="Movie's Poster"
    [imageUrl]="model?.poster"
    (selectedFile)="handleFileSelection($event)"></app-input-img>

    <h4>Select the genres</h4>
    <app-multiple-selector [nonSelected]="nonSelectedGenres" [selected]="selectedGenres"></app-multiple-selector>

    <h4>Select the theaters</h4>
    <app-multiple-selector [nonSelected]="nonSelectedTheaters" [selected]="selectedTheaters"></app-multiple-selector>

    <h4>Select the actors</h4>
    <app-actors-autocomplete [selectedActors]="selectedActors"></app-actors-autocomplete>

    <div class="buttons-container">
        <button mat-flat-button type="submit" [disabled]="form.invalid">Save Changes</button>
        <a mat-stroked-button routerLink="/">Cancel</a>
    </div>
</form>
